/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 span.success { color: green; }
 span.error { color: red; }
 span.warning { color: #ff5b5b; }

 span.field-notice.alert {
  background-color: #ffeeb0;
  font-weight: 500;
  padding: 5px 15px 5px 15px;
  margin-top: 3px;
  border-radius: 8px;
  line-height: 1;
  color: #bd8142;
 }